{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      {% if process == "connect" %}
      <h3>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h3>

      <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from
        {{ provider }}.{% endblocktrans %}</p>
      {% else %}

      <h1>{% blocktrans with provider.name as provider %}Log In Via {{ provider }}{% endblocktrans %}</h1>

      <p>{% blocktrans with provider.name as provider %}You are about to log in using a third party account from
        {{ provider }}.{% endblocktrans %}</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">

      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark right" aria-label="Continue button">{% trans "Continue" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}