{% extends 'base.html' %}

{% block menu_about_class %}active{% endblock %}

{% block content %}

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="https://res.cloudinary.com/boiann/image/upload/v1688585865/wallpaperflare.com_wallpaper_nrvimz.jpg"
                alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Find, Research, Control</h1>
            <p>The FBC is responsible for both the scientific study of paranatural elements and the protection of the
                nation (and humanity as a whole) from these forces. Among the phenomena studied by the FBC are Altered
                World Events (AWEs), Altered Items, Objects of Power, Places of Power, and other realms and dimensions.
                The Oldest House, itself a paranatural location, serves as a containment and study facility for these
                types of phenomena.</p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">You can find out more about specific phenomena below.</p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Altered
                        World Events (AWEs)</h2>
                    <p class="card-text">Altered World Events (AWEs) are events in which paranatural forces intrude upon
                        perceived reality, resulting in reality being altered. AWEs are responsible for the existence of
                        Altered Items and Objects of Power.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Altered Items</h2>
                    <p class="card-text">Altered Items are ordinary objects which have been acted upon by paranatural
                        forces during Altered World Events, resulting in the development of unique and sometimes
                        dangerous properties.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Objects of Power</h2>
                    <p class="card-text">Objects of Power (OoPs) are a type of Altered Item connected to the Astral
                        Plane.
                        Unlike ordinary Altered Items, many OoPs can be bound by parautilitarians, allowing them to
                        wield their abilities. Objects of Power are of great importance to the Federal Bureau of
                        Control, and many are contained within the Oldest House.
                    </p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}