{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block menu_add_class %}active{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1 style="text-align: center;">Create Report:</h1>
            <p class="center-text">Here you can add your own report of AWE, AI or OoP, Agent.
                <br>
                Be aware that your report is directly submitted to current Director for review and approval.
                <br>
                Any use of explicit language or discrimination will not be tolerated and will result 
                in the report dismissal and possibly a disciplinary action in response to Agent's 
                misconduct and/or rule violation.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.title | as_crispy_field }}
                {{ form.content | as_crispy_field }}
                {{ form.featured_image | as_crispy_field }}

                {% if request.user.is_superuser %}
                <select name="status" required>
                    <option value="0" selected>Draft</option>
                    <option value="1">Published</option>
                </select>
                {% endif %}

                <br>
                <button type="submit" class="btn btn-secondary btn-lg m-1"> Submit</button>
                <a href="{% url 'home' %}" role="button">Go back</a>
            </form>
        </div>
    </div>
    <br>
</div>

{% endblock %}