{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-xl-6">
                <h1 class="post-title">{{ event.title }}</h1>
                <p class="post-subtitle">{{ event.author }} | {{ event.created_on }}</p>
            </div>
            <div class="col-xl-6">
                {% if "placeholder" in event.featured_image.url %}
                <img class="img-fluid rounded mb-4 mb-lg-0 placeholder-img"
                    src="https://res.cloudinary.com/boiann/image/upload/v1688458922/fbc-seal-color_ppeq9n.png"
                    style="height: 50vh; object-fit: contain;">
                {% else %}
                <img class="img-fluid rounded mb-4 mb-lg-0" src=" {{ event.featured_image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ event.content | safe }}
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 ">
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'event_approve' event.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="blogpost_id" value="{{event.slug}}" class="btn-like"><i
                                            class="fa-solid fa-thumbs-up"></i></button>
                                    {% else %}
                                    <button type="submit" name="blogpost_id" value="{{event.slug}}" class="btn-like"><i
                                            class="fa-regular fa-thumbs-up"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                                <span class="text-secondary">{{ event.number_of_likes }} </span>
                            </strong>
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'event_disprove' event.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if disliked %}
                                    <button type="submit" name="blogpost_id" value="{{event.slug}}" class="btn-like"><i
                                            class="fa-solid fa-thumbs-down"></i></button>
                                    {% else %}
                                    <button type="submit" name="blogpost_id" value="{{event.slug}}" class="btn-like"><i
                                            class="fa-regular fa-thumbs-down"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                                <span class="text-secondary">{{ event.number_of_dislikes }} </span>
                            </strong>
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                        {% if request.user == event.author %}
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-4 offset-xl-8">
                                    <a href="{% url 'update_event' event.slug %}" class="btn btn-dark m-1">
                                        <i class="fa fa-edit"></i> Update/Edit Event</a>

                                    <a href="{% url 'delete_event' event.slug %}" class="btn btn-dark m-1">
                                        <i class="far fa-trash-alt"></i> Delete Event</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 card mb-4  mt-3 ">
            <div class="card-body">
                <h3>Comments:</h3>
                {% if comments %}
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
                {% else %}
                <p>This report doesn't have any comments at present.</p>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 card mb-4  mt-3 ">
            <div class="card-body">
                <h3>Leave a comment:</h3>
                <p>Posting Agent: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark btn-lg">Submit</button>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}