{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Page Content-->
<section>
    <div class="container px-4 px-lg-5">
        <img id="splash-logo" src="https://res.cloudinary.com/boiann/image/upload/v1688458922/fbc-seal-color_ppeq9n.png" alt="" class="rounded mx-auto d-block img-fluid">
        <div class="row gx-4 gx-lg-5" id="title-intro-text">
            <div class="col-lg-6" id="splash-container">
                <div class="rotating-text-wrapper">
                    <h1 class="mt-5">Invenio, Investigatio, Imperium</h1>
                    <h1 class="mt-5">Find, Research, Control</h1>
                </div>
                <p id="splash-text">The FBC is the U.S. government agency responsible for investigating "paranatural" phenomena - objects, places, or elements which violate the known laws of reality and exist outside of conventional scientific understanding.</p>
                <div>
                    <a href="{% url 'home' %}" class="btn btn-dark" id="splash-enter">Enter</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
