{% extends "base.html" %}

{% block menu_home_class %}active{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 style="text-align: center;">Reports Archive</h1>
    <p class="center-text">Here you can view reports of AWE, AI or OoP, Agent. You can also add your own comment and
        approve/disprove reports.
        <br>
        Any use of explicit language or discrimination will not be tolerated and will result
        in the comment removal and possibly a disciplinary action in response to Agent's
        misconduct and/or rule violation.
    </p>
    <div class="row gx-2 gx-lg-6">
        {% for event in event_list %}
        <div class="col-lg-4 mb-5 adjusted-cols">
            <div class="card h-100">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in event.featured_image.url %}
                        <img class="card-img-top"
                            src="https://res.cloudinary.com/boiann/image/upload/v1688458922/fbc-seal-color_ppeq9n.png" alt="FBC logo image">
                        {% else %}
                        <img class="card-img-top" src="{{ event.featured_image.url }}" alt="user submitted image">
                        {% endif %}
                        <p class="author">Author: {{ event.author }}</p>
                    </div>
                    <a href="{% url 'event_detail' event.slug  %}" class="post-link" aria-label="Read more about {{ event.title }}">
                        <h2 class="card-title">{{ event.title }}</h2>
                        <p class="card-text">{{ event.excerpt }}</p>
                    </a>
                    <hr>
                    <p class="card-text h6">{{ event.created_on}} &nbsp; <i
                            class="fa-solid fa-user-check"></i>
                        {{ event.number_of_likes }} &nbsp; <i class="fa-solid fa-user-xmark"></i>
                        {{ event.number_of_dislikes }}</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark btn-sm" aria-label="Previous page">&laquo; PREV</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark btn-sm" aria-label="Next page">NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock content %}