{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2 aria-label="Update/Edit Report/s:">Update/Edit Report/s:</h2>
            <br>
            <p>Update/Edit your Report/s here.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button type="submit" class="btn btn-dark btn-lg m-1" aria-label="Update">Update</button>
                <a href="{% url 'my_events' %}" role="button" aria-label="Go back">Go back</a>
            </form>
        </div>
    </div>
    <br>
</div>

{% endblock %}